{% extends "back/master.html" %}
{% load static %}

{% block mainblock %}
<!-- NewsPage content Where you can see all the Articles -->
<div id="page-content">
    <!-- Page content -->
    <div id="page-content">
        <!-- News Add Header -->
        <div class="content-header">
            <div class="header-section">
                <h1>
                    <i class="fa fa-table"></i>Error<br><small>{{ error }}</small>
                </h1>
            </div>
        </div>
    </div>
</div>
                    
{% endblock %}

{% block footerjsblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}
